body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #edf2f9;
}

.btn-primary {
  color: #fff;
  background-color: #2d1967;
  border-color: #2d1967;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2d1967e6;
  border-color: #2d1967e6;
}

  a.acolor {
    color: #fff !important;
    text-decoration: none !important;
  }

